@font-face {
    font-family: introcond;
    src: url(/public/introcond.otf); /** change font **/
  }

body {
    background-color:#1c1c1c;
    color: #e2dcdc;
    font-family: introcond;
}

.title {
}

.nav {
    padding-top: 10px;
}

.nav a {
    margin-left: 2px;
    margin-right: 2px;
    padding: 6px 6px 3px 6px;
    border-radius: 3px;
    font-size: 22px;
    background-color: #2d2d2d;
    color: goldenrod;
    text-decoration: none;
}

.nav a:visited {
    color: goldenrod;
}

.nav a:nth-child(3) { /** Current? **/
    color: #a89d80;
}

.centered {
    margin: auto;
    width: 50%;

    text-align: center;
}